* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    header{
        background-color: black;
    }

    a{
        text-decoration: none;
        color: blue;
    }

    nav ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    /* edit the margin bottom after values are set */
    .webtitle{
        padding: 1rem;
        color: white;
    }

    .webdescription{
        color: black;
        padding: 1rem;
    }

    @media screen and (min-width: 20rem){
        /* nav ul{
            margin-left: 2rem;
        } */

    }

    @media screen and (min-width: 80rem){

    }

    @media screen and (min-width: 217rem){

    }