* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        background-color: rgb(247, 230, 230);
    }

    html{
        font-size: 1rem;
    }

    header{
        background-color: white;
        color: black;
    }

    nav{
        background-color: rgb(200, 0, 0);
        border: 1px solid black;
    }

    nav li{
        width:30%;
    }

    nav ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 1rem;
    }

    nav a{
        text-decoration: none;
        color: white;
    }

    nav a:hover{
        font-size: 1.2rem;
        text-decoration: underline;
    }

    nav a:focus{
        background-color: black;
    }

    nav a:active{
        background-color:rgb(91, 29, 150);
    }

    img{
        display: block;
        width: 100%;
    }

    h3{
        padding: .5rem;
    }

    article{
        margin-bottom: .5rem;
    }

    .card1{
        border: black solid 1px;
    }

    .articleList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: white;
        border: 2rem;
    }

    .aboutme{
        color: rgb(150, 5, 5);
    }

    /* edit the margin bottom after values are set */


    .webdescription{
        text-align: center;
        color: black;
        padding: 1rem;
        background-color: white;
    }

    .photoCaption{
        background-color: rgb(230, 247, 247);
        font-style: italic;
        margin-bottom: .5rem;
    }

    @media screen and (min-width: 20rem){
        
        .webtitle{
            padding: .5rem;
            margin-left: 6rem;
        }
        .aboutme{
            margin-left: 6rem;
            padding: 1rem;
        }
        .card1{
            padding: 1rem;
            border: black solid 1px;
        }
        .card2{
            padding: 1rem;
            border: black solid 1px;
        }

    }

    @media screen and (min-width: 80rem){

    }

    @media screen and (min-width: 217rem){

    }